[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/stack-starter"]
	path = themes/stack-starter
	url = https://github.com/yolialisproxy/hugo-theme-stack-starter
[submodule "themes/stack-starter"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
